<% layout('layouts/boilerplate') %>

    <div id="home" class="page">

        <!-- Chef cards -->
        <div class="users py-4">
            <% for (let [index, user] of users.entries()) { %>
                <a href="" id="user-<%= index %>-recipe-link">
                    <div id="user-<%= index %>" class="user-stripe my-2" onmouseover="getRandChefRecipes();">

                        <!-- Image -->
                        <div class="chef">
                            <div class="image">
                                <img src="<%= user.imageUrl %>">
                            </div>

                            <!-- Text -->
                            <div class="text">

                                <!-- Name -->
                                <h2 class="name">
                                    <%= user.displayname %>
                                </h2>

                                <!-- Description -->
                                <p class="description">
                                    <%= user.description %>
                                </p>
                            </div>
                        </div>

                        <!-- Recipe info -->
                        <div class="recipe">

                            <!-- Recipe Image -->
                            <div class="recipe-image">
                                <img src="">
                            </div>

                            <!-- Recipe text -->
                            <div class="recipe-text">

                                <!-- Title -->
                                <h2 class="title"></h2>

                                <!-- Description -->
                                <p class="description"></p>
                            </div>
                        </div>
                    </div>
                </a>
            <% } %>
        </div>
    </div>


    <!-- JS scrips -->
    <script type="text/javascript">
        const users = <%- JSON.stringify(users) %>;
        const recipes = <%- JSON.stringify(recipes) %>;
    </script>
    <script src="/javascripts/home.js"></script>