<% layout('layouts/boilerplate') %>

    <div id="user">
        <div id="update-recipe">
            <div id="notepad" class="mx-auto pt-4 pb-5">
                <img src="/media/images/sketchpad.png" alt="">
                <div id="page">
                    <div class="card card-body">
                        <form action="/recipes/<%= recipe._id %>?_method=PUT" method="POST" class="pt-2 pb-4 px-5"
                            onsubmit="prepareLists()" enctype="multipart/form-data">
                            <h1 class="text-center card-title mb-3 title">Edit Recipe</h1>

                            <!-- Title -->
                            <div class="mb-3">
                                <label for="title" class="form-label">Title</label>
                                <input type="text" class="form-control" name="title" id="title"
                                    value="<%= recipe.title %>">
                            </div>

                            <!-- Description -->
                            <div class="mb-3">
                                <label for="title" class="form-label">Description</label>
                                <textarea class="form-control" id="description" name="description"
                                    rows="2"><%= recipe.description %></textarea>
                            </div>

                            <!-- Cooking Time -->
                            <div class="mb-3">
                                <label for="title" class="form-label">Cooking Time</label>
                                <input type="text" class="form-control" name="time" id="time"
                                    value="<%= recipe.time %>">
                            </div>

                            <!-- Ingredients -->
                            <label for="ingredient" class="form-label">Ingredients</label>
                            <ul id="ingredients-list" class="list-group list-group-flush mb-3">
                                <% for (let [index, ing] of recipe.ingredients.entries()) { %>
                                    <li id="ingredient-<%= index %>" class="list-group-item">
                                        <%= ing %>
                                        <i class="fa fa-close fa-lg ms-2" onclick="deleteIngredient(<%- index -%>)"></i>
                                    </li>
                                <% } %>
                            </ul>
                            <div class="d-flex mb-3">
                                <div class="flex-grow-1 me-2">
                                    <input type="text" class="form-control" id="ingredient">
                                </div>
                                <div>
                                    <button type="button" class="btn px-4" onclick="addIngredient()">Add</button>
                                </div>
                            </div>

                            <!-- Steps -->
                            <label for="step" class="form-label">Steps</label>
                            <ul id="steps-list" class="list-group list-group-flush mb-3">
                                <% for (let [index, step] of recipe.steps.entries()) { %>
                                    <li id="step-<%= index %>" class="list-group-item">
                                        <%= step %>
                                        <i class="fa fa-close fa-lg ms-2" onclick="deleteStep(<%- index -%>)"></i>
                                    </li>
                                <% } %>
                            </ul>
                            <div class="mb-3">
                                <textarea class="form-control mb-2" id="step" rows="2"></textarea>
                                <button type="button" class="btn px-4" onclick="addStep()">Add</button>
                            </div>

                            <!-- Images -->
                            <label for="images" class="form-label">Images</label>
                            <div class="mb-3">
                                <div class="mx-auto mb-3">

                                    <!-- Upload image input-->
                                    <div id="upload-frame" class="input-group mb-3">
                                        <input id="upload" type="file" id="images" name="images"
                                            onchange="readURL(this)" class="form-control">
                                        <label id="upload-label" for="upload" class="font-weight-light text-muted">Add
                                            Image</label>
                                        <div class="input-group-append">
                                            <label for="upload" class="btn btn-light m-0"><small
                                                    class="text-uppercase fw-bold text-muted">
                                                    <i class="fa fa-upload fa-lg"></i>
                                                </small></label>
                                        </div>
                                    </div>

                                    <!-- Uploaded image area-->
                                    <div class="image-area mt-4">
                                        <img id="imageResult" src="#" alt=""
                                            class="img-fluid rounded shadow-sm mx-auto d-block">
                                    </div>
                                </div>

                                <!-- Existing images -->
                                <div class="mb-3">
                                    <label class="form-label">Current Image</label>
                                    <% recipe.images.forEach((img, i)=> { %>
                                        <img src="<%= img.url %>" class="img-thumbnail mb-3">
                                    <% }); %>
                                </div>
                            </div>

                            <!-- Submit -->
                            <button class="btn mb-3 mt-4">Update Recipe</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- JS Scipts -->
    <script src="/javascripts/update.js"></script>